@model StackOverflowProject.ViewModels.EditUserPasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Change Password</h1>
        @*novalidate="novalidate" => to disable HTML5 validation*@
        @*class="needs-validation" => user defined class to use bootstrap validation*@
    <form novalidate="novalidate" action="/account/changepassword" method="post" class="needs-validation">
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="txtEmail">Email</label>
                @Html.HiddenFor(temp => temp.Email)
                <span class="form-text">@Model.Email</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="txtPassword">Password</label>
                @*escapeRegExp(this.value) => user-defined function*@
                <input type="password" class="form-control" id="txtPassword" name="Password" placeholder="Enter password" required="required" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Password must contain at least 6 characters.
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label for="txtConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="txtConfirmPassword" name="ConfirmPassword" placeholder="Enter confirm password" required="required" />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Password and Confirm Password do not match.
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
    </div>
</div>

<script>
    @* the following code will enable the bootstrap validation *@
    //the meaning of following line is, on submitting the document with the form having class needs-validation call validate() before submit
    $(document).on("submit", ".needs-validation", validate);
    //the meaning of below line is, any input element with class needs-validation, after typing the value on that input element and press the tab key then it will(.blur) call validate function
    $(".needs-validation input").blur(validate);
    function validate() {
        //checkValidity() => pre-defined function in bootstrap
        // if checkValidity() returns false or entered email is already their in the database then prevent, we'hv to stop submitting the form
        if ($(".needs-validation")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
    @* the above code will enable the bootstrap validation *@

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }

    $("a[href='/account/changepassword']").attr("id", "active");
</script>